<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand mx-0" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="">
      <ul class="navbar-nav">
        <li class="px-3">
          <a class="nav-link" href="{{ path('home') }}">Home</a>
        </li>

        <li class="px-3">
          <a class="nav-link" href="{{ path('rules') }}">Règles du jeu</a>
        </li>

        <li class="px-3">
          <span><a class="nav-link" href="{{ path('ranking') }}">Classement</a></span>
        </li>

        <li class="px-3">
          <span><a class="nav-link" href="{{ path('our_team') }}">Notre équipe</a></span>
        </li>
      </ul>
    </div>

    <div class="d-flex justify-content-between">
      {% if app.user %}
      <div class="">
        <span><a class="btn btn-outline-success lift text-light bg-primary" type="submit">Mon compte<small>({{ app.user.pseudo }})</small></a></span>
        <span><a href="{{ path('app_logout') }}"class="btn btn-outline-success lift text-light bg-primary" type="submit">Déconnexion</a></span>
      </div>
       {% else %}
      <div class="">
        <span><a href="{{ path('app_login') }}" class="btn btn-outline-success lift text-light bg-primary" type="submit">Connexion</a></span>
        <span><a href="{{ path('register') }}" class="btn btn-outline-success lift text-light bg-primary" type="submit">Inscription</a></span>
      </div>
      {% endif %}
    </div>

  </div>
</nav>